# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=film_db
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=film_db

# Backend
NODE_ENV=production
LOG_FORMAT=json
DATABASE_DRIVER=postgres
DATABASE_HOST=database
DATABASE_PORT=5432

#Frontend
VITE_API_URL=/api/afisha
VITE_CDN_URL=/content/afisha

# PgAdmin
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin

# GitHub Owner
OWNER=7kharo